<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <!--<add key="JsonFolderPath" value="C:\Users\kevin\source\repos\ICM_ImportManager\JsonFiles"/>-->
	  <add key="JsonFolderPath" value="C:\Users\klozano\documents\GitHub\ICM_ImportManager\JsonFiles"/>
	  <add key ="APIURL" value="https://api.cloud.varicent.com"/>
	  <add key="authToken" value="icm-OqW2hWf5srtsHq7a9deV4yK0oKJnG4Z9qzKue/FzIEo="/>
	  <add key="Model" value="femcocompdev"/>
  </appSettings>
</configuration>